h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.topbar {
    background-color: #4B8C4B;
    opacity: 0.65;
    position: fixed;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin: 0 auto;
}

.topbar_wrapper {
    width: 1450px;
    margin: none;
    padding: none;
    text-align: center;
    color: white;
    background-color: #4B8C4B;
    opacity: 0.65;
}

.footer {
    background-color: #4B8C4B;
    opacity: 0.65;
    position: fixed;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin: 0 auto;	
}

.footer_wrapper {
    width: 1450px;
    margin: none;
    padding: none;
    text-align: center;
    color: white;
    background-color: #4B8C4B;
    opacity: 0.65;
}
